* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-white);
  overflow-x: hidden;
}

.navbar .navbar-collapse {
  flex-grow: initial;
}

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#home .home-overlay {
  width: 450px;
  height: 450px;
  background-color: var(--bg-primary);
  border-radius: 50px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: scale(1) translate(-50px, -50%) rotate(45deg);
  z-index: -1;
  animation: moveBox 2s ease-out;
}

@keyframes moveBox {
  0% {
    top: 0%;
    transform: scale(0) translate(-50px, -50%) rotate(-80deg);
  }
  70% {
    top: 50%;
    transform: scale(0) translate(-50px, -50%) rotate(0deg);
  }
  100% {
    top: 50%;
    transform: scale(1) translate(-50px, -50%) rotate(45deg);
  }
}

#home h1 {
}

#home h1 b {
  color: var(--color-primary);
  position: relative;
}

#home h1 b::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--bg-primary);
  position: absolute;
  top: 100%;
  left: 0;
}

#home p {
  color: var(--color-grey);
}

#home .home-img {
  padding: 10px;
  width: 100%;
  height: 100%;
  animation: carMove 2s ease-in-out;
}

@keyframes carMove {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

#car-logos {
  padding: 50px 0;
  background-color: var(--bg-primary);
}

#car-logos .car-logo {
  width: 100%;
  transition: transform 0.2s ease, filter 0.2s ease;
}
#car-logos img.car-logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(2mm -3mm 1mm var(--bg-primary-dark));
}
#car-logos h3 {
  color: var(--color-white);
  text-transform: uppercase;
}
