:root {
  /* Font colors */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #1E80C1;
  --color-primary-dark: #0f5e93;
  --color-grey: #dfdfdf;

  /* Background colors */
  --bg-white: #fff;
  --bg-black: #000;
  --bg-primary: #1E80C1;
  --bg-primary-dark: #0f5e93;
  --bg-grey: #dfdfdf;
  --bg-drop-shadow: #7a7a7a38;
}
