:root {
  /* Font colors */
  --color-white: #ffffff;
  --color-black: #333333;
  --color-primary: #D51635;
  --color-primary-dark: #B2122F;
  --color-grey: #5c5c5c;

  /* Background colors */
  --bg-white: #ffffff;
  --bg-black: #333333;
  --bg-primary: #D51635;
  --bg-primary-dark: #B2122F;
  --bg-grey: #ebebeb;
  --bg-drop-shadow: rgba(58, 58, 58, 0.2);
}
